*.lo
*.o
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libax25-*.shar.gz
libax25-*.tar.Z
libax25-*.tar.bz2
libax25-*.tar.gz
libax25-*.tar.lz
libax25-*.tar.lzma
libax25-*.tar.xz
libax25-*.zip
libax25.la
libax25.spec
libax25io.la
libtool
ltconfig
ltmain.sh
missing
stamp-h
stamp-h1
